<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External Link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/owl-corousel.css">
    <link rel="stylesheet" href="css/owl-theme.css">
    <link rel="stylesheet" href="css/owl-transition.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/swiperjs.css"/>
    <link rel="stylesheet" href="css/style.css">
    <!-- External Links End -->
    <title>Eden</title>
</head>
<style>
 
</style>
<body>
    <div id="mobileView" class="demo11">
        <div id="burgerBtn"></div>
        <ul id="mobile-nav">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">PROJECTS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <header class="header-area overlay">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand"><img src="./images/eden-logo.png" alt="eden-logo" class="navbar-logo"></a>
                    
                    <!-- <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-icon-bar"></span>
                        <span class="menu-icon-bar"></span>
                        <span class="menu-icon-bar"></span>
                    </button>
       -->
                    
                    <!-- <div id="main-nav" class=" justify-content-center">
                        <ul class="navbar-nav ml-auto">
                            <li><a href="#" class="nav-item nav-link active">
ABOUT
                            </a></li>
                            <li><a href="#" class="nav-item nav-link">SERVICES</a></li>
                            
                            <li><a href="#" class="nav-item nav-link">PROJECTS</a></li>
                            <li><a href="#contact-us" class="nav-item nav-link">CONTACT</a></li>
    
                        </ul>
                    </div> -->
                    <aside class="menu">
                      <ul>
                        <li>
                          <a class="nav-link active" data-cursor="1" href="/about/" title="About" target="">
                              <div class="text">
                                  <div class="text_line">About</div>
                                  <div class="text_line">About</div>
                              </div>
                          </a>
                      </li>
                                                  <li>
                                  <a class="" data-cursor="1" href="/services/" title="Services" target="">
                                      <div class="text">
                                          <div class="text_line">Services</div>
                                          <div class="text_line">Services</div>
                                      </div>
                                  </a>
                              </li>
                                                
                                                  <li>
                                  <a class="" data-cursor="1" href="/insights/" title="Insights" target="">
                                      <div class="text">
                                          <div class="text_line">projects</div>
                                          <div class="text_line">projects</div>
                                      </div>
                                  </a>
                              </li>
                                                  <li>
                                  <a class="" data-cursor="1" href="/contact/?p=message" title="Contact" target="">
                                      <div class="text">
                                          <div class="text_line">Contact</div>
                                          <div class="text_line">Contact</div>
                                      </div>
                                  </a>
                              </li>
                                          </ul>
                  </aside>
                    <button class="custom-btn btn-13">RESEARCH PROJECTS</button>
                </div>
            </nav>
         
                 
           
              
              
            
            
            
        </header>
        <div id="mobileBodyContent">
 
    <!-- Main-SLider -->
    
    <div class="banner">
        <div id="app" class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
            <div class="slide-wrapper" v-for="(slide, index) in slides" v-bind:class="{ active: index === currentSlide }" v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
              <div class="slide-inner container-fluid">
                <div class="slide-bg-text">
                  <p>{{ slide.headlineFirstLine }}</p>
                  <p>{{ slide.headlineSecondLine }}</p>
                </div>
                <div class="slide-rect-filter">
             
                </div>
                <div class="slide-content">
                  <h1 class="slide-content-text">
                    <p>{{ slide.headlineFirstLine }}</p>
                    <p>{{ slide.headlineSecondLine }}</p>
                  </h1>
                </div>
               </div>
            </div>
            <div class="controls-container">
              <button class="controls-button custom-btn btn--control " v-for="(slide, index) in slides" v-bind:class="{ active: index === currentSlide }" v-on:click="updateSlide(index)">{{ slide.buttonName }}</button>
            </div>
            <div class="pagination-container">
              <span class="pagination-item" v-for="(slide, index) in slides" v-bind:class="{ active: index === currentSlide }" v-on:click="updateSlide(index)"></span>
            </div>
          </div>
    </div>
   
<!-- About Us Section -->
<section class="about-us-eden">
    <div class="align-items-center eden-container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <img src="./images/eden-aboutus.png" alt="Eden-About-Us" class="eden-about-us-img">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 left-move-globl">
          <div class="wrapper-container">
            <p class="pre-head">
                WE ARE EDEN - DESIGN CONSULTANT
            </p>
            
                <h2 class="main-head-eden">
                    Build innovative and creative workplaces that deliver value to our clients
                </h2>
           
            
                <p class="content-detail-sm mb-4"><strong> Eden - Design Consultants</strong> is established in 2018 having cumulative experience of more than 100 years in providing Design Consultancy services to Projects in Industrial & Infrastructure sectors pan India and abroad. The firm gets its name from the initials of Founding – Mr. Sheel Shah.</p>
               
               
                <div class="content_button border-black">
                    <a href="#" class="btn-eden-target border-dark">
                        <span class="link-text">ABOUT US</span>
                        <!-- <i class="magnet fas fa-long-arrow-alt-right"></i> -->
                        <span class="magnet"><img src="./images/thin-arrow.svg" class="arrow-img-thin"></span>
                      </a>
                </div>
              </div>
        </div>
    </div>
  </div>
</section>


<!-- What we Do Section -->
<section class="what-we-do-eden bg-black">
    <div class="container-fluid eden-container">
        <div class="row">
         
        <div class="col-lg-6 col-md-12 col-sm-12 left-space">
          <div class="b-box">
            <p class="pre-head text-white">
                WHAT WE DO
            </p>
            
                <h2 class="main-head-eden text-white">
                Provide the best <span class="break-line-dynamic"> </br> </span> service   
                </h2>
           
            
                <p class="content-detail-sm mb-4 ">We offer services that cover all aspects of the design and build process, engage the client at every step to ensure the best experience possible.</p>
                <div class="content_button border-white">
                    <a href="#" class="btn-eden-target">
                        <span class="link-text text-white">EXPLORE SERVICES</span>
                        <!-- <i class="magnet fas fa-long-arrow-alt-right text-white"></i> -->
                        <span class="magnet"><img src="./images/thin-arrow.svg" class="arrow-img-thin arrow-white-img"></span>
                      </a>
                </div>
                </div>
              </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
         
            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-6 col-sm-12 card-square">
                    <div class="card bg-dark h-100">
                        <div class="card-title card-cs">
                            <p>
                                Structure <br> Design
                        </p>
                        </div>
                        <div class="card-corner">
                            <img src="./images/Project-Management.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 card-square">
                    <div class="card bg-dark h-100">
                        <div class="card-title card-cs">
                            <p>
                            Project Management <br> Consultancy
                        </p>
                        </div>
                        <div class="card-corner">
                            <img src="./images/Project-Management1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 card-square">
                    <div class="card bg-dark h-100">
                        <div class="card-title card-cs">
                            <p>
                            Industrial <br> Architecture
                        </p>
                        </p>
                        </div>
                        <div class="card-corner">
                            <img src="./images/Industrial.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 card-square">
                    <div class="card bg-dark h-100">
                        <div class="card-title card-cs">
                            <p>
                            Quantity <br> Surveying
                            </p>
                        </div>
                        <div class="card-corner">
                            <img src="./images/Quantity-s.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
  </div>
</section>

<!-- Our Work Section -->
<section class="our-work-eden">
<div class="container-fluid eden-container col-12">
<div class="d-flex align-items-center responsive-flex">
    <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="cd-slider">
        <ul>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-0.png);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
              
                  <p>Architect: <br>Architect Hafeez contractor</p>
                  <p>Developer: <br>Runwal Real Estates Private Limited</p>
                  <p>Work Scope: <br>Lorem Ipsum</p>

            </div>
          </li>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-1.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
            
                  <p>Architect: <br>Architect Hafeez contractor</p>
                  <p>Developer: <br>Runwal Real Estates Private Limited</p>
                  <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
       
        </ul>
      </div>
     </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">   <div class="cd-slider">
        <ul>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-2.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
               
                <p>Architect: <br>Architect Hafeez contractor</p>
                <p>Developer: <br>Runwal Real Estates Private Limited</p>
                <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-3.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
              
                <p>Architect: <br>Architect Hafeez contractor</p>
                <p>Developer: <br>Runwal Real Estates Private Limited</p>
                <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-6.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
              
                <p>Architect: <br>Architect Hafeez contractor</p>
                <p>Developer: <br>Runwal Real Estates Private Limited</p>
                <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
       
        </ul>
      </div></div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">   <div class="cd-slider">
        <ul>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-4.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
               
                <p>Architect: <br>Architect Hafeez contractor</p>
                <p>Developer: <br>Runwal Real Estates Private Limited</p>
                <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
          <li>
            <div class="image-slider-work" style="background-image:url(./images/ow-5.jpg);"></div>
            <div class="content-slider">
                <h1>Runwal Bliss</h1>
                <h4>Bopal, Ahmedabad</h4>
                
                <p>Architect: <br>Architect Hafeez contractor</p>
                <p>Developer: <br>Runwal Real Estates Private Limited</p>
                <p>Work Scope: <br>Lorem Ipsum</p>
            </div>
          </li>
       
        </ul>
      </div></div>

    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 our-service-right">
    <p class="pre-head">
      OUR WORKS
    </p>
    
        <h2 class="main-head-eden our-work-patch">
            Lorem ipsum dummy text
        </h2>
    <div class="nav flex-column nav-pills me-3 nav-wrapper-block" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="arrow-swing cs-nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> Residential Project</a>
        <a class="arrow-swing cs-nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Commercial Project</a>
        <a class="arrow-swing cs-nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"> Hotel Project</a>
       </div>
    </div>
  </div>
</div>
</section>
<!-- <section class="our-work-eden">
   
    <div class="row align-items-center container-fluid mx-auto">
        
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="cd-slider">
                <ul>
                  <li>
                    <div class="image-slider-work" style="background-image:url(./images/ow-2.jpg);"></div>
                    <div class="content-slider">
                        <h1>Runwal Bliss</h1>
                        <h4>Bopal, Ahmedabad</h4>
                        <p>Architect: <br>
                          Architect Hafeez contractor <br>
                          Developer:   <br>
                          Runwal Real Estates Private Limited <br>
                          Work Scope: <br>
                          Lorem Ipsum</p>
                    </div>
                  </li>
                  <li>
                    <div class="image-slider-work" style="background-image:url(./images/ow-2.jpg);"></div>
                    <div class="content-slider">
                        <h1>Runwal Bliss</h1>
                        <h4>Bopal, Ahmedabad</h4>
                        <p>Architect: <br>
                          Architect Hafeez contractor <br>
                          Developer:   <br>
                          Runwal Real Estates Private Limited <br>
                          Work Scope: <br>
                          Lorem Ipsum</p>
                    </div>
                  </li>
               
                </ul>
              </div> 
              
           </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            
            
        </div>
    </div>
</section> -->

<!-- Testimonial -->

<!-- Slider main container -->
<section class="testimonial-slider-cover left-patch-p">
<div class="container eden-container">
  <div class="row">
<p class="pre-head">TESTIMONIALS</p>

    <h2 class="main-head-eden our-work-patch">Trusted and loved <br> by the experts</h2>
<div class="testimonials-wrapper">
    
<div class="swiper-container testimonial-swiper2 testimonials-swiper swiper-container swiper-unique-id-0 initialized swiper-container-vertical">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="testimonials-item"><span class="testimonials-icon fa fa fa-quote-right"></span><blockquote class="testimonials-description"><p>Incredible as always. This guys have excellent taste,modeling, texturing &amp; rendering skills. The design fits in with what I would perceive as being Icelandic, the high wooden roof design and linear slatted interior elements and colours.</p></blockquote><h4 class="testimonials-author">Viraj Sanghvi</h4></div>
        </div>
        <div class="swiper-slide">
            <div class="testimonials-item"><span class="testimonials-icon fa fa fa-quote-right"></span><blockquote class="testimonials-description"><p>Incredible as always. This guys have excellent taste,modeling, texturing &amp; rendering skills. The design fits in with what I would perceive as being Icelandic, the high wooden roof design and linear slatted interior elements and colours.</p></blockquote><h4 class="testimonials-author">Tirth Patel</h4></div>
        </div>
        <div class="swiper-slide">
            <div class="testimonials-item"><span class="testimonials-icon fa fa fa-quote-right"></span><blockquote class="testimonials-description"><p>Incredible as always. This guys have excellent taste,modeling, texturing &amp; rendering skills. The design fits in with what I would perceive as being Icelandic, the high wooden roof design and linear slatted interior elements and colours.</p></blockquote><h4 class="testimonials-author">Swapnil Shah</h4></div>
        </div>
      </div>
    <!-- If we need pagination -->
    <div class="testimonials-pagination-wrapper">
    <div class="swiper-pagination"></div></div>
</div>
</div>
</div>
</div>
</section>
<!-- End Testimonial -->

  <!-- Footer -->
  <footer class="footer-section bg-black" id="contact-us">
      <div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="">
        <!-- code here -->
        <div class="card footer-form">
           <h2 class="main-head-eden">Lets get in touch</h2>
            <form class="card-form">
                
                    <div class="col-12 row">
                        <div class="input col-lg-6 col-md-6">
                            <input type="text" id="name-typewirte" class="input-field eden-inf" value="" required/>
                            <label class="input-label">Your Name*</label>
                        </div>
                             <div class="input col-lg-6 col-md-6">
                            <input type="text" id="email-typewirte" class="input-field eden-inf" value="" required/>
                            <label class="input-label">Email Address*</label>
                        </div>
                     </div>
                     <div class="col-12 row">
                        <div class="input col-lg-6 col-md-6">
                            <input type="text" id="phone-typewirte" class="input-field eden-inf" value="" required/>
                            <label class="input-label">Phone Number*</label>
                        </div>
                             <div class="input col-lg-6 col-md-6">
                            <input type="text" id="company-typewirte" class="input-field eden-inf" value="" required/>
                            <label class="input-label">Compnay Name</label>
                        </div>
                     </div>
                     <div class="col-12 row">
                        <div class="input sendBtn-form">
                            <textarea class="input-field text-area-inf eden-inf" id="comment-typewirte" rows="3" value="My project is related.."></textarea>
                            <label class="input-label">Write Message*</label>
                            <a class="form-submit-a border" href="#">
                           
                              <button class="custom-btn btn--control-footer"><i class="fas fa-long-arrow-alt-right"></i></button>
                            </a>
                        </div>
                    
                     </div>
                
              
            </form>
            
        </div>
    </div>
    </div>

<div class="col-lg-5 col-md-5 col-sm-12 f-pcm">

    <p class="pre-head  text-white">
        GET IN TOUCH
    </p>
    
        <h2 class="main-head-eden our-work-patch text-white">
            We are always here <br> for you!
        </h2>
   
    
        <p class="content-detail-sm footer-address">Avenue Louise 200,</p>
            <p class="content-detail-sm footer-address">
                1050 Bruxelles, 
              
                </p> 
                <p class="content-detail-sm mb-4 footer-address">
                    Ahmedabad-380007 
                    </p>
            
                <p> <a href="tel:+911234567890" class="content-detail-sm text-white footer-address">+91 - 1234567890</a></p>
               <p> <a href="mailto:projects@edenconsultants.in" class="content-detail-sm text-white footer-address">  projects@edenconsultants.in</a></p>
</div>
<div class="col-12 text-center pt-5 pb-4">
    <p class="footer-credit">All rights reserved. © 2018-2021 EDEN Design Consultants.</p>
</div>
</div>
</div>
  </footer>
</div>
</div>

    <!-- script Start-->
    <script src="js/jQuery.js"></script>
    <script type="text/javascript" src="js/own-carousel-min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- swiper js -->
    <script src="js/swiperjs.js"></script>
    <script src="js/typewriter.js"></script>
    <!-- Swiperjs end -->
    <script src="js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fluffy-factory/magnet-mouse@latest/lib/magnet-mouse.min.js"></script>

    <script src="js/custom.js"></script>
    
    <!-- script End -->
    <script>
        new TypeWriter('#email-typewirte', ['johnduo@email.com']);
        new TypeWriter('#name-typewirte', ['John Duo']);
        new TypeWriter('#phone-typewirte', ['98765 43210']);
        new TypeWriter('#company-typewirte', ['eden design']);
        new TypeWriter('#comment-typewirte', ['let us know your thoughts']);
    </script>

<script>


let mm = new MagnetMouse({
  magnet: {
    element: '.magnet'
  },
  follow: {
    element: '.follow'
  }
});

mm.init();
</script>

</body>
</html>